/* color-grey-light-1-dm: #080808;
$color-grey-light-1-dm: #333333;

//DarkMode
$color-grey-dark-1-dm: #3b3b3b;
$color-grey-dark-2-dm: #3b3733;
$color-grey-dark-3-dm: #cccccc;

//DarkMode
$color-white-dm: #0f0000;
$color-black-dm: #eeeeee; */
