/*
  
  0 - 600px --> Phone
  
  600 - 900px --> tablet portrait
  
  900 - 1200px --> tablet landscape
  
  1200 - 1800 normal styles
  
  1800px --> Large Desktop
  
  breakpoint argument choices:
  - phone 
  - tab-port
  - tab-land 
  -big-desktop
  
  ORDER: Base + typography > general layout + grid > page layout > components
  
  1em = 16px;
  */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #d9e1e4;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.divider {
  max-width: 75%;
  margin: 5rem 0rem;
  display: none;
  background-color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .divider {
      display: block; } }
  @media only screen and (max-width: 37.5em) {
    .divider {
      margin: 2rem 0rem;
      max-width: 100%; } }

.p5canvas {
  width: 100%;
  height: 100%; }

::selection {
  background-color: #111;
  color: #f0ffff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #333333; }

.heading-primary {
  color: #111111;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInLeft 0.7s ease-in-out;
    /* animation-delay: 3s; */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.35rem;
    animation: moveInRight 0.7s ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  background-image: linear-gradient(to right, #141414, #540000);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(0.5deg) skewX(3deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(17, 17, 17, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph--sm {
    font-size: 1.3rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.highlight {
  background-color: #c4c4c4; }

.t--dark:not(.social__image),
video {
  background-color: #111111;
  filter: invert(100%);
  transition: all 750ms; }
  .t--dark:not(.social__image)-img,
  video-img {
    filter: invert(100%); }

.btn {
  border-radius: 1rem;
  background-color: #d5dadf;
  padding: 1rem;
  margin-left: auto;
  outline: none;
  cursor: pointer; }
  .btn:active,
  .btn :focus {
    transform: scale(0.9);
    box-shadow: 0 1.5em 4rem rgba(17, 17, 17, 0.15); }

.banner {
  position: relative;
  margin: 0rem 8rem;
  padding: 6rem 5rem 2rem 5rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .banner {
      flex-wrap: wrap;
      padding: 12rem 0 2rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .banner {
      padding-top: 3rem;
      margin: 0 5rem; } }

.name {
  flex: 4 55%; }
  .name__header {
    margin: 5rem 0 4rem 0; }
    @media only screen and (max-width: 56.25em) {
      .name__header {
        margin: 0 0 5rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .name__header {
        margin: 5rem 0 0 0;
        text-align: center; } }
  @media only screen and (max-width: 37.5em) {
    .name__tag {
      text-align: center; } }

.dev,
.design,
.cCoder {
  cursor: pointer; }

.nav {
  flex: 2 10%;
  margin: 0 2rem; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      order: -1;
      position: fixed;
      top: 0;
      left: 0;
      padding: 2rem 0;
      margin: 0;
      width: 100vw;
      background-color: #333333;
      color: #f7f7f7;
      opacity: 0.95; } }
  .nav__list {
    display: flex;
    justify-content: space-around; }
    .nav__list-item {
      list-style: none;
      padding: 0 2rem; }
      .nav__list-item--link,
      .nav__list-item :active,
      .nav__list-item :link,
      .nav__list-item :visited {
        text-decoration: none;
        color: inherit; }
        @media only screen and (max-width: 37.5em) {
          .nav__list-item--link,
          .nav__list-item :active,
          .nav__list-item :link,
          .nav__list-item :visited {
            padding: 1.5rem; } }
        .nav__list-item--link:hover,
        .nav__list-item :active:hover,
        .nav__list-item :link:hover,
        .nav__list-item :visited:hover {
          border-bottom: 1px solid #c4c4c4; }

.info {
  min-width: 24;
  max-width: 28rem;
  margin-left: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .info {
      max-width: 80vw;
      margin: 0; } }
  @media only screen and (max-width: 37.5em) {
    .info {
      text-align: center; } }

.form {
  display: flex;
  flex: 5 80%;
  background-color: inherit; }
  .form__label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: inherit;
    font-size: 1.3rem; }
    @media only screen and (max-width: 37.5em) {
      .form__label {
        padding-right: 2rem;
        margin-left: -6rem; } }
    .form__label--name {
      margin-top: 0.3rem;
      background-color: inherit; }
    .form__label--email {
      margin: 2rem 0 0 0;
      background-color: inherit; }
    .form__label--message {
      margin: 2rem 0 auto 0;
      background-color: inherit; }
  .form__input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 2rem;
    background-color: #d9e1e4;
    background-color: inherit; }
    @media only screen and (max-width: 37.5em) {
      .form__input {
        width: 85%;
        padding: 0; } }
    .form__input--name {
      display: block;
      width: 50%;
      margin: 0 0 2rem 0;
      padding: 0.8rem 0 0 0;
      border: none;
      border-bottom: 0.5px solid #c4c4c4;
      outline: none;
      font-family: inherit;
      background-color: #d9e1e4;
      background-color: inherit;
      font-size: 1.3rem; }
    .form__input--email {
      display: block;
      width: 50%;
      margin: 0 0 1.2rem 0;
      padding: 0.8rem 0 0 0;
      border: none;
      border-bottom: 0.5px solid #c4c4c4;
      outline: none;
      font-family: inherit;
      background-color: #d9e1e4;
      background-color: inherit;
      font-size: 1.3rem; }
    .form__input--textarea {
      background-attachment: local;
      background-image: linear-gradient(to right, transparent -1rem, transparent 1rem), linear-gradient(to left, transparent -1rem, transparent 1rem), repeating-linear-gradient(transparent, transparent 3rem, #c4c4c4 3rem, #c4c4c4 3.1rem, transparent 3.1rem);
      line-height: 3.1rem;
      margin: 0 0 2rem 0;
      padding: 0.8rem 0rem;
      border: none;
      resize: none;
      outline: none;
      font-family: inherit;
      background-color: inherit;
      font-size: 1.3rem; }
    @media only screen and (max-width: 37.5em) {
      .form__input--btn {
        width: 100%; } }

.contact {
  margin: 0rem 8rem;
  display: flex;
  justify-content: space-between;
  background-color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .contact {
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0; } }

.social {
  flex: 2 33.33%;
  padding-left: 5rem;
  background-color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .social {
      padding: 0; } }
  .social__image {
    display: block;
    height: 22rem;
    filter: grayscale(1); }
    @media only screen and (max-width: 56.25em) {
      .social__image {
        display: none; } }
  .social__list {
    display: flex;
    justify-content: space-around;
    margin: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .social__list {
        margin: 3rem 0;
        justify-content: space-evenly; } }
    .social__list-item {
      list-style-type: none;
      display: flex;
      min-width: 1rem;
      text-align: center; }
      .social__list-item--link,
      .social__list-item :active,
      .social__list-item :link,
      .social__list-item :visited {
        text-decoration: none;
        color: inherit;
        padding: 0 1.5rem; }
        .social__list-item--link:hover,
        .social__list-item :active:hover,
        .social__list-item :link:hover,
        .social__list-item :visited:hover {
          border-bottom: 1px solid #c4c4c4; }
  .social__icon {
    max-width: 3rem;
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .social__icon {
        display: inline; } }

.github::after {
  content: "Github"; }

.twitter::after {
  content: "Twitter"; }

.linkedin::after {
  content: "LinkedIn"; }

.fixed {
  letter-spacing: 0.35rem;
  overflow: hidden; }

.broken {
  letter-spacing: 0.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  color: #111; }

.wobble {
  animation: wiggle 2.5s infinite; }

@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  80% {
    transform: rotate(0deg); }
  85% {
    transform: rotate(5deg); }
  95% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }

.project {
  display: flex;
  max-width: 95vw;
  background-color: #f4f6f7;
  margin: 0rem 8rem;
  padding: 4rem 0;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .project {
      flex-wrap: wrap;
      padding: 2rem 0;
      margin: 0rem 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .project {
      flex-wrap: wrap;
      padding: 0;
      margin: 0rem 4rem; } }
  .project:nth-child(2) {
    background-color: #f7f7f7;
    flex-direction: row-reverse; }
  .project .image {
    width: 80%;
    height: 80%;
    object-fit: contain; }
    @media only screen and (max-width: 37.5em) {
      .project .image {
        width: 100%; } }
  .project__image {
    min-height: 8rem;
    flex: 1 3 33%;
    margin: 2rem 1rem;
    display: flex;
    justify-content: center; }
    .project__image--link {
      display: flex;
      justify-content: center;
      align-items: center; }
  .project__info {
    width: 60%;
    flex: 3 1 66%;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.6rem; }
    @media only screen and (max-width: 75em) {
      .project__info {
        width: 100%; } }
    .project__info-item {
      display: flex;
      width: 100%;
      padding: 0.5rem 1rem; }
      @media only screen and (max-width: 56.25em) {
        .project__info-item {
          flex-wrap: wrap; } }
      .project__info-item--title {
        width: 10rem;
        margin: 0.3rem;
        padding: 0.2rem;
        font-weight: 700;
        text-transform: uppercase; }
        @media only screen and (max-width: 56.25em) {
          .project__info-item--title {
            width: 100%;
            text-align: center; } }
      .project__info-item--desc {
        width: 60%;
        margin: 0.3rem;
        padding: 0.2rem; }
        @media only screen and (max-width: 56.25em) {
          .project__info-item--desc {
            width: 100%;
            text-align: center; } }

.gib {
  text-decoration: line-through; }

.g-wrapper {
  background: linear-gradient(164.75deg, rgba(247, 247, 247, 0.7) 33.16%, rgba(213, 218, 223, 0.7) 37.43%, rgba(213, 218, 223, 0.7) 55.33%, rgba(255, 255, 255, 0.7) 65.61%); }

.p-wrapper {
  padding-top: 4rem;
  display: block;
  background-color: #f4f6f7; }
