/*
  
  0 - 600px --> Phone
  
  600 - 900px --> tablet portrait
  
  900 - 1200px --> tablet landscape
  
  1200 - 1800 normal styles
  
  1800px --> Large Desktop
  
  breakpoint argument choices:
  - phone 
  - tab-port
  - tab-land 
  -big-desktop
  
  ORDER: Base + typography > general layout + grid > page layout > components
  
  1em = 16px;
  */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #111;
  color: azure; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #333333; }

.heading-primary {
  color: #111111;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInLeft 1s ease-in-out;
    /* animation-delay: 3s; */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.35rem;
    animation: moveInRight 1s ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  background-image: linear-gradient(to right, #141414, #540000);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(0.5deg) skewX(3deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(17, 17, 17, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph--sm {
    font-size: 1.3rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.highlight {
  background-color: #c4c4c4; }

.t--dark:not(.social__image),
video {
  background-color: #111111;
  filter: invert(100%);
  transition: all 750ms; }
  .t--dark:not(.social__image)-img,
  video-img {
    filter: invert(100%); }

.btn {
  border-radius: 1rem;
  background-color: #d5dadf;
  padding: 1rem;
  margin-left: auto;
  outline: none;
  cursor: pointer; }
  .btn:active,
  .btn :focus {
    transform: scale(0.9);
    box-shadow: 0 1.5em 4rem rgba(17, 17, 17, 0.15); }

.banner {
  position: relative;
  margin: 0rem 15rem 0 15rem;
  padding: 12rem 5rem 2rem 5rem;
  display: flex;
  justify-content: center; }

.name {
  flex: 4 55%; }
  .name__header {
    margin-top: 5rem; }
  .name__tag {
    margin-top: 4rem; }

.dev,
.design,
.cCoder {
  cursor: pointer; }

.nav {
  flex: 2 10%;
  margin: 0 2rem 0 2rem; }
  .nav__list {
    display: flex;
    justify-content: space-around; }
    .nav__list-item {
      list-style: none;
      padding: 0 2rem 0 2rem; }
      .nav__list-item--link,
      .nav__list-item :active,
      .nav__list-item :link,
      .nav__list-item :visited {
        text-decoration: none;
        color: inherit; }
        .nav__list-item--link:hover,
        .nav__list-item :active:hover,
        .nav__list-item :link:hover,
        .nav__list-item :visited:hover {
          border-bottom: 1px solid #c4c4c4; }

.info {
  position: relative;
  left: 10rem;
  width: 24rem;
  margin-left: 3rem; }

.form {
  display: flex;
  flex: 5 80%;
  background-color: inherit; }
  .form__label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: inherit;
    font-size: 1.3rem; }
    .form__label--name {
      margin-top: 0.3rem;
      background-color: inherit; }
    .form__label--email {
      margin: 2rem 0 0 0;
      background-color: inherit; }
    .form__label--message {
      margin: 2rem 0 auto 0;
      background-color: inherit; }
  .form__input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 2rem;
    background-color: #f7f7f7;
    background-color: inherit; }
    .form__input--name {
      display: block;
      width: 50%;
      margin: 0 0 2rem 0;
      padding: 0.8rem 0 0 0;
      border: none;
      border-bottom: 0.5px solid #c4c4c4;
      outline: none;
      font-family: inherit;
      background-color: #f7f7f7;
      background-color: inherit;
      font-size: 1.3rem; }
    .form__input--email {
      display: block;
      width: 50%;
      margin: 0 0 1.2rem 0;
      padding: 0.8rem 0 0 0;
      border: none;
      border-bottom: 0.5px solid #c4c4c4;
      outline: none;
      font-family: inherit;
      background-color: #f7f7f7;
      background-color: inherit;
      font-size: 1.3rem; }
    .form__input--textarea {
      background-attachment: local;
      background-image: linear-gradient(to right, transparent -1rem, transparent 1rem), linear-gradient(to left, transparent -1rem, transparent 1rem), repeating-linear-gradient(transparent, transparent 3rem, #c4c4c4 3rem, #c4c4c4 3.1rem, transparent 3.1rem);
      line-height: 3.1rem;
      margin: 0 0 2rem 0;
      padding: 0.8rem 0rem;
      border: none;
      width: 100%;
      resize: none;
      outline: none;
      font-family: inherit;
      background-color: inherit;
      font-size: 1.3rem; }

.contact {
  margin: 0 15rem 0 15rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: transparent; }

.social {
  flex: 2 33.33%;
  padding-left: 5rem;
  background-color: transparent; }
  .social__image {
    display: block;
    height: 15rem;
    margin: 0 auto 5rem auto;
    transform: scale(1.5);
    filter: grayscale(1); }
  .social__list {
    display: flex;
    justify-content: space-between;
    margin: 1rem; }
    .social__list-item {
      list-style-type: none; }
      .social__list-item--link,
      .social__list-item :active,
      .social__list-item :link,
      .social__list-item :visited {
        text-decoration: none;
        color: inherit; }
        .social__list-item--link:hover,
        .social__list-item :active:hover,
        .social__list-item :link:hover,
        .social__list-item :visited:hover {
          border-bottom: 1px solid #c4c4c4; }

main {
  height: 100vh; }

.g-wrapper {
  background: linear-gradient(156.52deg, #f7f7f7 41.39%, #d5dadf 46.03%, #f7f7f7 72.12%); }
