$color-primary: #111;
$color-primary-light: #141414;
$color-primary-dark: #540000;

$color-secondary-light: #fba964;
$color-secondary-dark: #542600;

$color-tertiary-light: #ca5195;
$color-tertiary-dark: #440026;

$color-grey-light-1: rgb(247, 247, 247);
$color-grey-light-2: #f7f7f7;

$color-grey-dark-1: rgb(196, 196, 196);
$color-grey-dark-2: rgb(213, 218, 223);
$color-grey-dark-3: #333333;

$color-white: rgb(240, 255, 255);
$color-black: rgb(17, 17, 17);

$color-transparent: transparent;

$txt-z-index: 5;

$box-shadow: 0 1.5em 4rem rgba($color-black, $alpha: 0.15);
$box-shadow-2: 0 0.5rem 1rem rgba($color-black, 0.2);
$box-shadow-3: 0 1rem 2rem rgba($color-black, 0.2);

//Font
$default-font-size: 1.6rem;
$smaller-font-size: 1.3rem;
