.banner {
  position: relative;
  margin: 5rem 8rem 0;
  padding: 1rem 5rem 2rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  // background-color: $color-grey-dark-1;
  // border-radius: 5px;

  // @include scroll;

  @include respond(tab-port) {
    flex-wrap: wrap;
    padding: 12rem 0 2rem 0;
  }

  @include respond(phone) {
    padding-top: 3rem;
    margin: 0 5rem;
  }
}

.emailaddress {
  position: absolute;
  margin-top: -4rem;
  padding: 1rem;

  @include respond(tab-port) {
    margin-top: -7rem;
  }

  @include respond(phone) {
    position: fixed;
    margin-top: -2rem;
    left: 0;
    max-width: 16rem;
    max-height: 9rem;
  }
}

.js-emailcopybtn {
  border: none;
  background-color: $color-transparent;
  @include respond(phone) {
    margin-top: 5rem;
  }
}

.get-email {
  text-decoration: none;
  color: $color-grey-dark-3;
  font-family: "Inconsolata", monospace;
  cursor: pointer;
  font-size: $default-font-size;
}

.js-emaillink {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
  color: $color-grey-dark-3;
  font-family: "Inconsolata", monospace;
}

.name {
  flex: 4 55%;

  &__header {
    margin: 5rem 0 4rem 0;

    @include respond(tab-port) {
      margin: 0 0 5rem 0;
    }

    @include respond(phone) {
      margin: 5rem 0 0 0;
      text-align: center;
    }
  }

  &__tag {
    overflow: hidden;

    @include respond(phone) {
      text-align: center;
    }
  }
}

.dev,
.design,
.cCoder {
  cursor: pointer;
}

.nav {
  flex: 2 10%;
  margin: 0 2rem;
  z-index: 1;

  @include respond(phone) {
    order: -1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 0;
    margin: 0;
    width: 100vw;
    background-color: $color-grey-dark-3;
    color: $color-grey-light-1;
    opacity: 0.95;
    // Potentially make this a color (Blue?)
  }

  &__list {
    display: flex;
    justify-content: space-around;

    &-item {
      list-style: none;
      padding: 0 2rem;

      &--link,
      :active,
      :link,
      :visited {
        text-decoration: none;
        color: inherit;

        @include respond(phone) {
          padding: 1.5rem;
        }

        &:hover {
          border-bottom: 1px solid $color-grey-dark-1;
        }
      }
    }
  }
}

.info {
  min-width: 24;
  max-width: 28rem;
  margin-left: 3rem;

  @include respond(tab-port) {
    max-width: 80vw;
    margin: 0;
  }

  @include respond(phone) {
    text-align: center;
  }
}
