.banner {
  position: relative;
  margin: 0rem 8rem;
  padding: 12rem 5rem 2rem 5rem;
  display: flex;
  justify-content: space-between;

  @include respond(tab-port) {
    flex-wrap: wrap;
    padding: 12rem 0 2rem 0;
  }
}

.name {
  flex: 4 55%;

  &__header {
    margin: 5rem 0 4rem 0;

    @include respond(tab-port) {
      margin: 0 0 5rem 0;
    }
  }

  // &__tag {
  //    margin-top: 4rem;
  // }
}

.dev,
.design,
.cCoder {
  cursor: pointer;
}

.nav {
  flex: 2 10%;
  margin: 0 2rem 0 2rem;
  //   margin: 0 -17rem 0 17rem;

  @include respond(mob) {
    order: -1;
  }

  &__list {
    display: flex;
    justify-content: space-around;

    &-item {
      list-style: none;
      padding: 0 2rem 0 2rem;

      &--link,
      :active,
      :link,
      :visited {
        text-decoration: none;
        color: inherit;

        &:hover {
          border-bottom: 1px solid $color-grey-dark-1;
        }
      }
    }
  }
}

.info {
  // position: relative;
  // left: 10rem;
  min-width: 24;
  max-width: 28rem;
  // flex: 3 30%;
  margin-left: 3rem;

  @include respond(tab-port) {
    max-width: 80vw;
    margin: 0;
  }
}
