.banner {
  position: relative;
  margin: 7rem 15rem 0 15rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    207.52deg,
    $color-grey-light-2 41.39%,
    $color-grey-dark-2 46.03%,
    $color-grey-light-2 72.12%
  );
}

.name {
  flex: 4 55%;

  &__header {
    margin-top: 5rem;
  }

  &__tag {
    margin-top: 4rem;
  }
}

.nav {
  flex: 2 10%;
  margin: 0 2rem 0 2rem;
  //   margin: 0 -17rem 0 17rem;

  &__list {
    display: flex;
    justify-content: space-around;

    &-item {
      list-style: none;
      padding: 0 2rem 0 2rem;

      &--link,
      :active,
      :link,
      :visited {
        text-decoration: none;
        color: inherit;

        &:hover {
          border-bottom: 1px solid $color-grey-dark-1;
        }
      }
    }
  }
}

.info {
  position: relative;
  left: 10rem;
  width: 24rem;
  // flex: 3 30%;
  margin-left: 3rem;
}
