.btn {
  border-radius: 1rem;
  background-color: $color-grey-dark-2;
  padding: 1rem;
  margin-left: auto;
  outline: none;
  cursor: pointer;

  &:active,
  :focus {
    transform: scale(0.9);
    box-shadow: $box-shadow;
  }
}
