.btn {
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid $color-text-dark;
  background-color: $color-transparent;
  color: $color-text-dark;
  width: 25%;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    opacity: 1;
    transition: all 300ms;
  }

  &:active,
  :focus {
    transform: scale(0.9);
    box-shadow: $box-shadow;
  }
  &--code {
    border-radius: 1rem;
    background-color: $color-grey-dark-2;
    padding: 1rem;
    margin: 0.5rem 0.5rem 0.5rem auto;
    cursor: pointer;

    &:active,
    :focus {
      transform: scale(0.9);
      box-shadow: $box-shadow;
    }

    &:hover {
      transform: scale(1.05);
      opacity: 1;
      transition: all 300ms;
    }
  }
}

.disabled {
  background-color: $color-grey-dark-1;
  opacity: 0.3;
  box-shadow: none;
}

// Material Design Ripple

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #999 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}
