.contact {
  margin: 0rem 8rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: $color-transparent;

  @include respond(tab-port) {
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 0;
  }
}
