.project {
  display: flex;
  max-width: 95vw;

  background-color: $color-grey-light-3;
  margin: 0rem 8rem;
  padding: 4rem 0;
  align-items: center;

  @include respond(tab-land) {
    flex-wrap: wrap;
    padding: 2rem 0;
    margin: 0rem 6rem;
  }

  @include respond(tab-port) {
    flex-wrap: wrap;
    padding: 0;
    margin: 0rem 4rem;
  }

  &:nth-child(2) {
    background-color: $color-grey-light-1;
    flex-direction: row-reverse;
  }

  .image {
    width: 80%;
    object-fit: contain;
    cursor: pointer;

    @include respond(phone) {
      width: 100%;
    }
  }

  &__image {
    min-height: 8rem;
    flex: 1 3 33%;
    margin: 2rem 1rem;
    display: flex;
    justify-content: center;

    &--link {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // Easy scroll ** TODO **

  //   a[id="projects"]:target ~ #projects {
  //     -webkit-transform: translateY(0px);
  //     transform: translateY(0px);
  //   }

  &__info {
    width: 60%;
    flex: 3 1 66%;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: $default-font-size;

    @include respond(tab-land) {
      width: 100%;
    }

    &-item {
      display: flex;
      width: 100%;
      padding: 0.5rem 1rem;

      @include respond(tab-port) {
        flex-wrap: wrap;
      }

      &--title {
        width: 10rem;
        margin: 0.3rem;
        padding: 0.2rem;
        font-weight: 700;
        text-transform: uppercase;
        @include respond(tab-port) {
          width: 100%;
          text-align: center;
        }
      }

      &--desc {
        width: 60%;
        margin: 0.3rem;
        padding: 0.2rem;
        @include respond(tab-port) {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.gib {
  text-decoration: line-through;
}
