.social {
  flex: 2 33.33%;
  padding-left: 5rem;
  background-color: transparent;

  @include respond(tab-port) {
    // max-width: 21rem;
    padding: 0;
  }

  &__image {
    display: block;
    height: 22rem;
    // margin: 0 auto 5rem auto;
    // transform: skew(50deg) rotate(30deg);

    filter: grayscale(1);
    // display: none;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    @include respond(tab-port) {
      margin: 3rem 0;
      justify-content: space-evenly;
    }

    &-item {
      list-style-type: none;
      display: flex;
      min-width: 1rem;
      text-align: center;

      &--link,
      :active,
      :link,
      :visited {
        text-decoration: none;
        color: inherit;
        padding: 1.5rem;

        &:hover {
          border-bottom: 1px solid $color-grey-dark-1;
        }
      }
    }
  }

  &__icon {
    max-width: 3rem;
    display: none;

    @include respond(phone) {
      display: inline;
    }
  }
}

.github {
  &::after {
    content: "Github";
  }
}

.twitter {
  &::after {
    content: "Twitter";
  }
}

.linkedin {
  &::after {
    content: "LinkedIn";
  }
}
