.social__image {
  display: block;
  height: 15rem;
  margin: 0 auto 5rem auto;
  transform: scale(1.5);

  filter: grayscale(1);
}

.social__list {
  display: flex;
  justify-content: space-between;
  margin: 1rem;

  &-item {
    list-style-type: none;

    &--link,
    :active,
    :link,
    :visited {
      text-decoration: none;
      color: inherit;

      &:hover {
        border-bottom: 1px solid $color-grey-dark-1;
      }
    }
  }
}
