.tooltip {
  margin-left: 2rem;
  position: relative;
  display: inline-block;

  @include respond(phone) {
    margin-top: 8rem;
  }
  //   border-bottom: 1px dotted black;
  &text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 96%;
    // left: 50%;
    // margin-left: -60px;

    &::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%; /* To the left of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent black transparent transparent;
    }

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: all 1s;
  }
}

.showtip {
  visibility: visible;
  opacity: 1;
}
