.t--dark,
video {
  background-color: $color-black;
  filter: invert(100%);
  transition: all 750ms;
  & > * {
    color: #653e22;
  }

  &-img:not(.no-filter) {
    filter: invert(100%);
  }

  &-txt {
    color: #653e22;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $color-black;
    filter: invert(100%);
    transition: all 750ms;

    &-img:not(.no-filter) {
      filter: invert(100%);
    }

    &-txt {
      color: #653e22;
    }
  }
}
