.t--dark:not(.social__image),
video {
  background-color: $color-black;
  filter: invert(100%);
  transition: all 750ms;

  &-img {
    filter: invert(100%);
  }
}

// * {
//   background-color: inherit;
// }

// &:not([src*=".svg"]),
// video {
//   filter: invert(100%);
// }
